<% title(@project.name, "Projects") %>
<div id="ticket">
    <h2><%= @project.name %> : <%= @ticket.title %></h2>
</div>

<div style="background:#EEF; padding:20px 10px; border-radius:5px;">
  <%= @ticket.description %>
</div>

<br />
<% @back_link_text = "Back to Project" %>
<%= link_to @back_link_text, project_path(@project) %> |
<%= link_to "Edit Ticket", [:edit, @project, @ticket] %> |
<%= link_to "Delete Ticket", [@project, @ticket], :method => :delete, :confirm => "Are you sure you wanna delete this ticket?" %> |
<%= link_to "New Ticket", new_project_ticket_path(@project) %> |

<%= render 'projects/index_link' %>