<% title(@project.name, "Projects") %>
<div id="ticket">
    <h2><%= @project.name %> : <%= @ticket.title %></h2>
</div>

<div>
  <%= @ticket.description %>
</div>

<br />
<%= link_to "Edit Project", edit_project_path(@project) %> |
<%= link_to "Delete Project", @project, :method => :delete, :confirm => "Are you sure you wanna delete this project?" %> |
<%= link_to "New Ticket", new_project_ticket_path(@project) %> |

<%= render 'projects/index_link' %>