<%= form_for(@project) do |f| %>

    <% if @project.errors.any? %>
        <%= f.error_messages %>
    <% end %>

    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>
    <%= f.submit %>
<% end %>