<% title(@project.name, "Projects") %>
<h2><%= @project.name %></h2>
<div>
  Welcome to the Project Page for <%= @project.name %>
</div>

<br />
<%= admins_only do %>
    <%= link_to "Edit Project", edit_project_path(@project) %> |
    <%= link_to "Delete Project", @project, :method => :delete, :confirm => "Are you sure you wanna delete this project?" %> |
<% end %>
<%= link_to "New Ticket", new_project_ticket_path(@project) %> |


<p>&nbsp;</p>
<h3>List of Tickets under this Project</h3>
<ul id="tickets" style="background:#EEF;">
  <% @project.tickets.each do |ticket| %>
      <li title="Click to view details">
        #<%= ticket.id %> - <%= link_to ticket.title, [@project, ticket] %>
      </li>
  <% end %>
</ul>

<%= render 'index_link' %>