<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for? (:title) %>
        <%= yield (:title) %>
    <% else %>
        Ticketee
    <% end %>
  </title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
    <div class="flash" id="<%= key %>">
      <%= value %>
    </div>
<% end %>

<nav>
  <% if user_signed_in? %>
      Signed in as <%= current_user.email %>
  <% else %>
      <%= link_to "Sign up", new_user_registration_path %> | <%= link_to "Sign in", new_user_session_path %> | <%= link_to "Home", root_path %>
  <% end %>

  <span style="float: right;padding-right: 50px;">
    <% if user_signed_in? %>
        <%= link_to "Sign Out", root_path %>
        <span>&nbsp;|&nbsp;</span>
    <% end %>

    <% admins_only do %>
        <%= link_to "Admin", admin_root_path %>
        <span>&nbsp;|&nbsp;</span>
    <% end %>
  </span>
</nav>

<%= yield %>

</body>
</html>
